<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CallCenterEntities" connectionString="metadata=res://*/EF.CallCenterEdm.csdl|res://*/EF.CallCenterEdm.ssdl|res://*/EF.CallCenterEdm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ptsecmssql14u3;initial catalog=CallCenter;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>