<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="LogFileAppenderERROR" type="log4net.Appender.RollingFileAppender,log4net">
    <encoding value="UTF-8" />
    <file type="log4net.Util.PatternString" value="Logs\Error\error" />
    <appendToFile value="true" />
    <maximumFileSize  value="10240KB" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <datePattern value="yyyy-MM-dd.'log'" />
    <lockingModel type="log4net.Appender.RollingFileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="Header" value="" />
      <param name="Footer" value="" />
      <param name="ConversionPattern" value="%d [%t] %p [%identity] [%logger] %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR" />
      <levelMax value="ERROR" />
      <acceptOnMatch value="true" />
    </filter>
  </appender>
  <appender name="LogFileAppenderInfo" type="log4net.Appender.RollingFileAppender,log4net">
    <encoding value="UTF-8" />
    <file type="log4net.Util.PatternString" value="Logs\Trace\trace" />
    <appendToFile value="true" />
    <maximumFileSize  value="10240KB" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <datePattern value="yyyy-MM-dd.'log'" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="Header" value="" />
      <param name="Footer" value="" />
      <param name="ConversionPattern" value="%date [%thread] %level [%identity] [%logger] %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="ERROR" />
      <acceptOnMatch value="true" />
    </filter>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="LogFileAppenderERROR" />
    <appender-ref ref="LogFileAppenderInfo" />
  </root>
</log4net>