<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<log4net>
		<appender name="LogFileAppenderInfo" xdt:Locator="Match(name)">
			<file value="\\PTSECMSSQL21\AppsSQL\ApplicationLogs\CallCenter\Trace\trace"  xdt:Transform="SetAttributes(value)" />
		</appender>
		<appender name="LogFileAppenderERROR" xdt:Locator="Match(name)">
			<file value="\\PTSECMSSQL21\AppsSQL\ApplicationLogs\CallCenter\Error\error"  xdt:Transform="SetAttributes(value)" />
		</appender>
	</log4net>

	<appSettings>
		<add key="WebCtrlDB" value="server=PTSECMSSQL21;database=WebCtrl;Integrated Security=SSPI;Pooling=False" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
		<add key="DATABASE" value="server=PTSECMSSQL23\SRV3;database=CallCenter;Integrated Security=SSPI;Pooling=False;" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
		<add key="AgentSetStateUrl" value="http://ptsecmsccweb01.phatrasec.com/agentdstate/setstate.aspx" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
		<add key="KKDepositUrl" value="http://ptsecmsappera01/kkpibapi/Deposit/InquiryAccountAsset" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
		<add key="FinesseServerUrl" value="http://ptseclsccuccx01.phatrasec.com:8082" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
		<add key="finesseAdminUserName" value="uccxadmin" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
		<add key="finesseAdminPassword" value="NexEntel123" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
	</appSettings>

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<identity impersonate="true"  xdt:Transform="Insert" />
	</system.web>
</configuration>