<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<configSections>
		<sectionGroup name="devExpress">
			<section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="engineConfig" type="Phatra.Core.Configuration.EngineConfig, Phatra.Core" requirePermission="false" />
	</configSections>
	<engineConfig>
		<DynamicDiscovery Enabled="false" />
		<Engine Type="" />
	</engineConfig>

	<log4net>
		<appender name="LogFileAppenderERROR" type="log4net.Appender.RollingFileAppender,log4net">
			<encoding value="UTF-8" />
			<file type="log4net.Util.PatternString" value="Logs\Error\error" />
			<appendToFile value="true" />
			<maximumFileSize  value="10240KB" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd.'log'" />
			<lockingModel type="log4net.Appender.RollingFileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="Header" value="" />
				<param name="Footer" value="" />
				<param name="ConversionPattern" value="%d [%t] %p [%identity] [%logger] %m%n" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ERROR" />
				<levelMax value="ERROR" />
				<acceptOnMatch value="true" />
			</filter>
		</appender>
		<appender name="LogFileAppenderInfo" type="log4net.Appender.RollingFileAppender,log4net">
			<encoding value="UTF-8" />
			<file type="log4net.Util.PatternString" value="Logs\Trace\trace" />
			<appendToFile value="true" />
			<maximumFileSize  value="10240KB" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd.'log'" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="Header" value="" />
				<param name="Footer" value="" />
				<param name="ConversionPattern" value="%date [%thread] %level [%identity] [%logger] %m%n" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="DEBUG" />
				<levelMax value="ERROR" />
				<acceptOnMatch value="true" />
			</filter>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="LogFileAppenderERROR" />
			<appender-ref ref="LogFileAppenderInfo" />
		</root>
	</log4net>

	<!-- Uncomment line below if need to disable all log4net -->
	<!--log4net threshold="OFF" /-->
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="WebCtrlDB" value="server=PTSECMSSQL17U1;database=WebCtrl;Integrated Security=SSPI;Pooling=False" />
		<add key="DATABASE" value="server=PTSECMSSQL17U3\SRV3;database=CallCenter;Integrated Security=SSPI;Pooling=False;" />
		<add key="AgentSetStateUrl" value="http://ptsecmsccweb01.phatrasec.com/agentdstate/setstate.aspx" />
		<add key="KKDepositUrl" value="http://ptsecmsappera01/kkpibapi/Deposit/InquiryAccountAsset" />
		<!--<add key="FinesseServerUrl" value="https://ptseclsccuccx01.phatrasec.com:8445"/>-->
		<add key="FinesseServerUrl" value="http://ptseclsccuccx01.phatrasec.com:8082" />
		<add key="finesseAdminUserName" value="uccxadmin" />
		<add key="finesseAdminPassword" value="NexEntel123" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="DevExpress.Data.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxHtmlEditor.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxSpellChecker.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxTreeList.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxThemes.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxPivotGrid.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Utils.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Office.v15.1.Core, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.SpellChecker.v15.1.Core, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Charts.v15.1.Core, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraCharts.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraGauges.v15.1.Core, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraGauges.v15.1.Presets, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxGauges.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraCharts.v15.1.Web, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Printing.v15.1.Core, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraReports.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraReports.v15.1.Web, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraPivotGrid.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.PivotGrid.v15.1.Core, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraScheduler.v15.1.Core, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxScheduler.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Spreadsheet.v15.1.Core, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxSpreadsheet.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.RichEdit.v15.1.Core, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxRichEdit.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Xpo.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.DataAccess.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Dashboard.v15.1.Core, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Dashboard.v15.1.Web, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Dashboard.v15.1.Web.Mvc, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.Mvc.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
			</assemblies>
		</compilation>
		<authentication mode="Windows" />
		<pages validateRequest="true" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
				<add namespace="System.Web.UI.WebControls" />
				<add namespace="DevExpress.Utils" />
				<add namespace="DevExpress.Web" />
				<add namespace="DevExpress.Web.ASPxHtmlEditor" />
				<add namespace="DevExpress.Web.ASPxSpellChecker" />
				<add namespace="DevExpress.Web.ASPxThemes" />
				<add namespace="DevExpress.Web.ASPxTreeList" />
				<add namespace="DevExpress.XtraCharts" />
				<add namespace="DevExpress.XtraCharts.Web" />
				<add namespace="DevExpress.XtraReports" />
				<add namespace="DevExpress.XtraReports.UI" />
				<add namespace="DevExpress.XtraReports.Web" />
				<add namespace="DevExpress.XtraReports.Web.DocumentViewer" />
				<add namespace="DevExpress.XtraPivotGrid" />
				<add namespace="DevExpress.Data.PivotGrid" />
				<add namespace="DevExpress.Web.ASPxPivotGrid" />
				<add namespace="DevExpress.XtraRichEdit" />
				<add namespace="DevExpress.Web.ASPxRichEdit" />
				<add namespace="DevExpress.XtraScheduler" />
				<add namespace="DevExpress.XtraScheduler.Native" />
				<add namespace="DevExpress.Web.ASPxSpreadsheet" />
				<add namespace="DevExpress.Web.ASPxScheduler" />
				<add namespace="DevExpress.DashboardWeb.Mvc" />
				<add namespace="DevExpress.Web.Mvc" />
				<add namespace="DevExpress.Web.Mvc.UI" />
				<add namespace="Phatra.CallCenter.Data" />
				<add namespace="CallCenter.Web.ViewModels" />
				<add namespace="MvcPaging" />
			</namespaces>
		</pages>
		<httpHandlers>
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false" />
		</httpHandlers>
		<httpModules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
		</httpModules>
		<globalization culture="" uiCulture="" />
		<httpRuntime maxRequestLength="4096" requestValidationMode="4.0" executionTimeout="110" />
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
		</modules>
		<handlers>
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="30000000" />
			</requestFiltering>
		</security>
		<staticContent>
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
		</staticContent>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<devExpress>
		<themes enableThemesAssembly="true" styleSheetTheme="" theme="DevEx" customThemeAssemblies="" />
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
		<settings doctypeMode="Html5" rightToLeft="false" embedRequiredClientLibraries="true" ieCompatibilityVersion="edge" />
		<errors callbackErrorRedirectUrl="" />
	</devExpress>

	<system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\tmp\log4net.txt" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>